
h1 {
    background: blue;
    color: white;
}

.description{
    border: 2px solid orange;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 50px
}

.logoHTML {
    max-width: 100px;
    }

.logoMAXIMUM {
    max-width: 100px;
    }

.HTMLdescription{
    text-shadow: green 2px -2px;
    font-size:24px;
    font-style: italic;
    text-align:center


}